* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {

    --color: #1db954;
    --seccolor: #1ce783;
    --tertcolor: #00ff7d;
    --quadcolor: #4aff9f;
    --hovercolor1: #24b480;
    --headingtext: #caffca;


}

body {
    background-color: black;
    overflow-x: hidden;
}

.main {
    background-image: url('bg.jpg');
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    overflow: hidden;

}

.main .box {
    opacity: 0.8;
    height: 100%;
    /* Cover entire body height */
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;

}

nav {
    color: white;
    height: 8vh;
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    /* Ensure the buttons are in a flex container, not doing ths was causing problems */

}

nav div button {
    position: relative;
    color: var(--tertcolor);
    padding: 10px 20px;
    background-color: #000000;
    text-align: center;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin: 10px 5px;
    /* Adjusted margin */
    z-index: 10;
    transition: color 0.3s;
    margin-top: 0.5vh;
}

nav div button form select {
    border: none;
    color: var(--tertcolor);
    text-align: center;
    background-color: black;
}


nav div button form select:hover {

    color: var(--hovercolor1);
}

nav div button:first-child {
    margin-left: 0;
    /* Remove left margin for the first button */
}

nav div button:last-child {
    margin-right: 0;
    /* Remove right margin for the last button */
}

nav div button:hover {

    color: var(--hovercolor1);
}

span.logo {
    display: flex;
}

span.logo h1 {
    position: relative;
    z-index: 10;
    font-family: "Titillium web", serif;
    font-size: 60px;
    color: var(--tertcolor);
    text-transform: lowercase;
    top: 10px;
    cursor: pointer;
    padding-top: 0.5vh;
}

.planscontainer {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-top: 20vh;
    flex-wrap: wrap;
    padding-bottom: 10vh;

}

.planscontainer .plans {
    min-height: 50vh;
    width: 30vw;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.planscontainer .plans h1 {
    color: #CCCCCC;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    cursor: pointer;
}

.planscontainer .plans h1:hover {
    color: var(--hovercolor1);
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 1200;
    font-size: 40px;
}

i.fa-solid.fa-coins {
    font-size: 30px;
    color: var(--seccolor);
}

i.fa-solid.fa-sliders {
    font-size: 30px;
    color: var(--seccolor)
}

i.fa-solid.fa-crown {
    font-size: 30px;
    color: var(--seccolor);
}

.planscontainer .plans li {
    list-style-type: none;
    text-transform: capitalize;
    font-family: "Poppins", serif;
    font-weight: 500;

}

.planscontainer .plans a {
    text-decoration: none;
    display: block;
    width: 28vw;
    height: 52px;
    margin-top: 52px;
    background-color: var(--seccolor);
    text-align: center;
    padding-top: 10px;
    color: black;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 30px;
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 500;
}

.planscontainer .plans ul li a:hover {

    background-color: var(--hovercolor1);

    border: 1px solid white;


}

.videocontainer {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    border-top: 1px solid #CCCCCC;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 1px;
    padding: 5% 50px;

}

.videobox {
    display: flex;
    position: relative;
}

.videocontainer .videobox video {
    display: flex;
    width: 20vw;
    height: auto;
    margin-top: 50px;
    border: 2px solid black;
    transition: border 0.3s, transform 0.3s;

}

.videocontainer .videobox video:hover {

    border: 2px solid white;
    transform: scale(1.05);
}

.videocontainer .videobox h4 {
    color: var(--seccolor);
    position: absolute;
    font-size: 15px;
    font-family: "poppins", serif;
    margin-top: 65px;
}

.videocontainerparent {
    position: relative;
    display: flex;
    justify-content: center;
}


.videocontainerparent .introtext {

    padding-top: 50px;
    position: absolute;
    color: #caffca;
    font-family: "poppins", serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.loginsignup {
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;

    gap: 4vw;
}

.loginsignup .or {
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.loginsignup a {

    text-transform: capitalize;
    color: var(--quadcolor);
    z-index: 10;
    font-family: 'Times New Roman', Times, serif, serif;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: #000000;
    transition: all 0.3s;



}

.loginsignup a:hover {
    color: var(--hovercolor1);
    text-decoration-color: var(--quadcolor);
    text-decoration-thickness: 1px;
    transform: scale(1.05);
}

.childrencontent {
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 0;

}

.childrentext {
    color: #caffca;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.imgcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.imgcontainer img {
    width: 100%;
    max-width: 50%;
    height: auto;
    transition: transform 0.3s;
}

.imgcontainer img.doraemon {
    max-width: 70%;
}

.imgcontainer img:hover {
    transform: scale(1.05);
}

.livesports {

    border-bottom: 1px solid #CCCCCC;
}

.livesports .tvsection {
    height: 480px;
    width: 640px;
    position: relative;
}

.livesports .tvsection img {
    height: 480px;
    width: 640px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.livesports .tvsection video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.sportstext {
    position: absolute;
    color: #caffca;
    font-family: "poppins", serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: capitalize;
    margin-left: 50vw;
    text-align: center;
    width: 40vw;
    margin-top: 18vh;

}

div.faqbox {

    width: 99vw;
    position: relative;
    background-color: #141414;
    overflow: hidden;

}

.faqbox .faqheading {
    height: 18%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "kanit", serif;
    font-weight: 500;
    color: var(--tertcolor);
}

.faqbox .faq {
    position: relative;
    width: 98%;
    color: white;
    display: flex;
    align-items: center;
    background-color: #000000;
    margin: 20px;
    padding: 30px;
    font-size: 25px;
    font-family: "poppins", serif;
    font-weight: 500;
    transition: all 0.3s;
}


.faqbox .faq:hover {
    background-color: #71797E;

}






i.fa-solid.fa-angle-down {
    margin-left: auto;
    font-size: 35px;
    font-weight: 600;
    color: var(--quadcolor);
    cursor: pointer;
    transition: color 0.3s;

}

i.fa-solid.fa-angle-down:hover {
    color: var(--hovercolor1);
}



.faqbox .faq h4:hover {
    color: var(--hovercolor1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;


}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    /* Add margin to separate lists horizontally */
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

footer ul li {
    margin-bottom: 10px;
    text-align: center;
    color: #4aff9f;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #000000;
    transition: all 0.3s;
    display: flex;

}

footer ul li:hover {
    color: var(--hovercolor1);
    text-decoration-color: var(--quadcolor);
    text-decoration-thickness: 1px;
    transform: scale(1.05);
}




/* ADDING RESPONSIVENESS NOW! ADDING RESPONSIVENESS NOW! */




@media screen and (max-width:480px) {


    nav {
        max-width: 30vw;
        flex-direction: column;
        gap: 20px;
    }


    .planscontainer {
        display: flex;
        flex-direction: column;
        gap: 20px;


    }

    .planscontainer .plans {
        height: 20vh;
        width: 80vw;
    }


    .planscontainer .plans a {

        width: 68vw;
        height: 52px;
        margin-top: 12px;

    }



    .videocontainer {
        padding-top: 25vh;
        gap: 2px;
    }

    .videobox {
        display: flex;
        position: relative;

    }

    .videocontainer .videobox video {
        width: 60vw;
        margin-top: 2.5vh;
        border: 1px solid white;

    }



    .videocontainerparent .introtext {
        font-size: 2.5vh;
        justify-content: center;
        align-items: center;
        padding: 5vh 5vh;
        margin: 1vh 5vh;
        text-align: center;


    }

    .videocontainer .videobox h4 {
        margin-top: 3vh;
    }

    .childrencontent {
        flex-direction: column;

    }



    .livesports {
        display: none;
    }

    div.faqbox {

        width: 100vw;
        position: relative;
    }

    .faqbox .faqheading {
        height: 14%;
        
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: "kanit", serif;
        font-weight: 500;
        color: var(--tertcolor);
    }

    .faqbox .faq {


        margin: 10px;
        padding: 20px;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }






    i.fa-solid.fa-angle-down {
        display: none;

    }



    footer {

        flex-direction: column;
        position: relative;
    }

    footer ul {

        flex-direction: column;

        gap: 5px;
    }

    footer ul li {
        font-size: 10px;

    }








}


@media screen and (max-width:720px) {

    .livesports{display: none;
    }

    i.fa-solid.fa-angle-down {
        display: none;

    }
    
}